.book-list-page {
    .pdf-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: {
            top: 7px;
            bottom: 7px;
        }
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .icon {
            margin-right: 10px;
            width: 30px;
        }
        .status {
            button{
              opacity: 1;
            }
            .failure {
                color: red;
                
            }
            .processing {
                color: $dark;
            }
        }
    }
}