.portfolio-compare {
    .product-list {
        margin: {
            top: 20px;
            bottom: 20px;
        }
        .row {
            border-bottom: 1px solid #F0F0F0;
        }
        .header {
            background-color: #FCFCFC;
            font-size: 12px;
        }
        .product {
            margin: 0;
            font-size: 10px;
        }
    }
}