<ion-view view-title="{{'account_profile_title'|translate}}"
          hide-back-button="true"
          class="account-profile-page">
  <ion-nav-buttons>
    <back-btn state="tab.account"></back-btn>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="{{'common_pull_to_refresh'|translate}}"
      on-refresh="vm.pullRefresh()">
    </ion-refresher>

    <refresh-view refresher="vm.refresher">
      <div class="list margin-top">
        <div class="item item-field-detail" ng-if="vm.user.real_name">
          <div class="field field-label">{{'account_profile_name'|translate}}</div>
          <div class="field field-value" ng-bind="vm.user.real_name"></div>
        </div>
        <div class="item item-field-detail">
          <div class="field field-label">{{'account_profile_phone_number'|translate}}</div>
          <div class="field field-value" ng-bind="vm.user.phone"></div>
        </div>
        <div class="item item-field-detail" ng-if="vm.user.company">
          <div class="field field-label">工作单位</div>
          <div class="field field-value" ng-bind="vm.user.company"></div>
        </div>
        <div class="item item-field-detail" ng-if="vm.user.email">
          <div class="field field-label">{{'account_profile_email'|translate}}</div>
          <div class="field field-value" ng-bind="vm.user.email"></div>
        </div>
        <!--<div class="item item-field-detail" ng-if="vm.user.post_address">
          <div class="field field-label">合同邮寄地址</div>
          <div class="field field-value" ng-bind="vm.user.post_address"></div>
        </div>-->
      </div>

      <div class="list">
        <!--<user-link link-state="resetPassword">
          <div class="item item-icon-right">
            修改密码
            <i class="icon unicon-forward accessory"></i>
          </div>
        </user-link>-->
      </div>
    </refresh-view>

  </ion-content>

  <ion-footer-bar>
    <button class="button button-full button-red"
            ng-click="vm.logout()">
      {{'account_profile_log_out'|translate}}
    </button>
  </ion-footer-bar>
</ion-view>
