.tob-oauth-page {
    ion-content {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        .main-box {
            width: 100%;
            border-radius: 5px;
            text-align: center;
            .text {
                color: #00A7FF;
                font-size: 20px;
                font-family: 'initial';
                letter-spacing: 0.1em;
                margin-top:6%;
            }
            .error {
                color: red;
            }
            .ion-grid{
                font-size:18px;
                margin-top:27%;
                .spinner svg {
                width: 50px;
                height: 50px;
                stroke: #00A7FF;
                fill: #00A7FF;
            }
            }
        }
    }
}